<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory name="foo">
<!-- 配置数据库信息 -->
		<property name="dialect">
			org.hibernate.dialect.MySQL5InnoDBDialect
		</property><!-- SQL方言 -->		
		<!-- 数据库信息会在外部文件中单独配置 -->
		<!-- 其他配置 -->
		<property name="show_sql">true</property><!-- 将Hibernate发送给数据库的sql显示出来 -->
		<!-- 只是根据映射文件去和数据库中的表对应起来，如果不一致，就更新表的结构 -->
		<property name="hbm2ddl.auto">update</property>
		<mapping resource="cn/itcast/cartoon/admin/domain/Admin.hbm.xml"></mapping>
		<mapping resource="cn/itcast/cartoon/user/domain/User.hbm.xml"></mapping>
		<mapping resource="cn/itcast/cartoon/collection/domain/Collection.hbm.xml"></mapping>
		<mapping resource="cn/itcast/cartoon/category/domain/Category.hbm.xml"></mapping>
		<mapping resource="cn/itcast/cartoon/categorysecond/domain/CategorySecond.hbm.xml"></mapping>
	</session-factory>

</hibernate-configuration>
